<html>

<head>
    {% if title %}
    <title>{{ title }} - Assignment</title>
    {% else %}
    <title>Welcome Home</title>
    {% endif %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='app.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='foundation.css') }}">

</head>

<body class="flasking">
    <div class="ours">By Qusai: <a href="/index">Home</a></div>
    <div>Microblog: <a href="/about">About</a></div>
    <div>TMT:<a href="/TMT">TMT</a></div>
    <hr> {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }} </li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %} {% block content %}{% endblock %}
 
</body>

</html>
